<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rbrandssitetools2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8112f8e4-1adf-4e4f-ad90-aa7010a26cf4/resourceGroups/RB-PD-RGP-004Functions/providers/Microsoft.Web/sites/rbrandssitetools2</ResourceId>
    <UserName>$rbrandssitetools2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://rbrandssitetools2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>